    *{

    font-family: MuseoModerno, Arial, Helvetica, sans-serif;  
    font: bold;
    color:  white;
    }

    body{
        background-color: rgb(18, 18, 46);
        padding: 1%; 
    }

    .header{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 20px;

    }

    .header:first-child{
        margin-left: 30px;
    }
    .header a:hover{
        text-decoration: overline;
    }
    .header nav{
        display: flex;
        gap: 10px;
    }

    a{
        display: flex;
        align-items: center;
        color: white;
        text-align: right;
        text-decoration: none;
    }

    nav a:hover{
        color: white;
        text-transform:uppercase;
    }

    img{
        display: flex;
        justify-content: center;
        width: 50px;
        border-radius: 50px;
    }

    .hero{
        height: 50vh;
        background: url(./images/imagen_casa_inteligente_hero.webp);
        background-size:cover;
        background-repeat:round;
        border-radius: 30px 30px 30px 30px;
    }

    .hero h1{
        margin: 0px;
    }

    .hero .hero-title{
        position: absolute;
        top:150px;
        left: 600px;
        color:  white;
        word-wrap:break-word;
        font-size: 50px;
    }

   .hero .hero-title2{
        position: absolute;
        top:200px;
        left: 790px;
        color:  white;
        font-size: 50px;
    }

    .hero .hero-subtitle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top:500px;
        left: 730px;
        width:500px;
        text-align: left;
        padding: 0px 20px;
        color:  white;
        border-radius: 40px;
        background-color: rgb(34, 34, 124);
    }

    .hero .hero-subtitle p{
        border-radius: 20px;
        border-color: white;
    }

    .hero .hero-subtitle a{
        padding: 0px 5px;
        background-color: white;
        border: solid 1px;
        border-radius: 25px;
        height: 30px;
        align-items: center;
        color:  rgb(34, 34, 124);
    }

    .hero .hero-content .hero-subtitle .form_contacto{
        width: 400px;
        height: 50px;
        opacity: 1;
        transition: 0.5s;

    }

    .hero .hero-content .hero-subtitle a:hover .form_contacto{
        opacity: 1;
        transition: 0.5s;

    }

    .f_contacto{
        align-items: flex-start;
        border-radius: 20px;
        font-size: 20px;
        font-style: italic;
        margin-left: 63%;
    }

    .f_contacto button{
        border-radius: 20px;
        height: 35px;
        padding: 5px, 150px;

    }
    .contacto{
        border-radius: 20px;
        width: 300px;
        height: 30px;

    }

    .secciontarjetas{
        display: flex;
        flex-direction: column;
        margin: 50px;
        padding-bottom: 100px;
        padding-top: 50px;
        border-bottom: solid 2px;
        border-top: solid 1px;
    }

    .secciontarjetas h1, p{
        text-align: center;
    }

    .grupo-tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 40px;
    }

    .tarjeta{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 300px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .tarjeta .tarjeta2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        width: 300px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .tarjeta3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        border-radius: 50px;
        border: solid;
        transform: translateY(-364px) ;
        opacity: 0;
        transition: 0.5s;
        text-align: justify;
        padding: 5px 5px;
        border: 10px 10px;
    }

    .tarjeta:hover .tarjeta2{
        /*transform: translateX(-310px) ;*/
        height: 400px;
        width: 300px;
        transition: 1s;
        opacity: 0;
        
    }
    .tarjeta:hover .tarjeta3{
        /*transform: translateY(-400px) ;*/
        height: 400px;
        width: 300px;
        transition: 1s;
        opacity: 1;
    }

    .tarjeta .tarjeta3 img{
        align-self: center;
        width: 100px;    
        height: 100px; 
    }

    .tarjeta img{
        height: 400px;
        width: 300px;
    }

    .tarjeta h1{
        text-decoration: underline;
        
    }

    .textos_footer h1{
        text-align: center;
        padding: 25px 50px;

    }

    .textos_footer p{
        text-align: center;
        padding: 50px 50px;
        
    }

    .footer{
        display: flex;
        flex-direction: row ;
        justify-content:space-around;
        gap: 10px;
        margin-right: 200PX;
    }

    .footer div img{
        height: 90px;
        width: 90px;
        margin: 0px 0px;
    }

    .footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .f_lista{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .f_lista a:hover{
        text-decoration: overline;
    }

    h1 h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

    }

    .tarjeta3 a{
        background-color: black;
        border: solid 1px;
        border-radius: 30px;
        align-self: center;
        text-align: center;
        padding: 5px;
    }

    .tarjeta3 h2{
        text-align: center;
    }


