*{

  font-family: MuseoModerno, Arial, Helvetica, sans-serif;  
  font: bold;
  color:  white;
}

body{
   background-color: rgb(18, 18, 46);

}

.header{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content:space-between;
   
}

.header:first-child{
    margin-left: 30px;
}


.header a:hover{
    text-decoration: overline;

}

.header nav{
    display: flex;
    gap: 20px;
}

a{
    display: flex;
    align-items: center;
    color: white;
    text-align: right;
    text-decoration: none;
}

nav a:hover{
    color: white;
    text-transform:uppercase;
}

img{
    display: flex;
    justify-content: center;
    width: 50px;
    border-radius: 50px;
}

.hero{
    position: relative;
    height: 50vh;
    background: url(./images/imagen_casa_inteligente_hero.webp);
    background-size:contain;
    background-repeat: round;
    border-radius: 10px 10px 10px 10px
}

.hero-title{
    color:  white;
    word-wrap:break-word;
    font-size: 50px;
    margin-left: 35%;
    margin-bottom: 0%;
}

.hero-title2{
    color:  white;
    word-wrap:break-word;
    font-size: 50px;
    margin-left: 55%;
    margin-top: -3%;
}

.hero-subtitle{
    width: 500px;
    color:  white;
    margin-right: 15%;
    margin-left: 55%;
    border-radius: 20px;
    background-color: rgb(11, 11, 122);
    padding-left: 2%;
    padding-right: 2%;
}

.form_contacto{
    align-items: flex-start;
    border-radius: 20px;
    font-size: 20px;
    font-style: italic;
    margin-left: 63%;
}

.form_contacto button{
    border-radius: 20px;
    height: 35px;
    padding: 5px, 150px;

}
.contacto{
    border-radius: 20px;
    width: 300px;
    height: 30px;

}

.secciontarjetas{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-left: 100px;
    border-bottom: solid 1px;
    padding-bottom: 100px;
    border-top: solid 1px;
}

.secciontarjetas h1, p{
    text-align: center;
}

.grupo-tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.tarjeta{
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 400px;
    width: 300px;
    /*border: solid 1px;*/
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-50px) ;
    transition: 0.5s;
}

.tarjeta .tarjeta2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 400px;
    width: 300px;
    /*border: solid 1px;*/
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.tarjeta3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border-radius: 50px;
    transform: translateY(-300px) ;
    opacity: 0;
    transition: 0.5s;
    text-align: justify;
    width: 250px;
    min-height: 270px;
    padding: 5px 5px;
    border: 10px 10px;
}

.tarjeta:hover .tarjeta2{
    /*transform: translateX(-310px) ;*/
    transition: 0.5s;
    opacity: 0;
    
}
.tarjeta:hover .tarjeta3{
/*    transform: translateX(400px) ;
    transform: translateY(-300px) ;*/
    transition: 0.5s;
    opacity: 1;
}

.tarjeta .tarjeta3 img{
    align-self: center;
    width: 100px;    
    height: 100px; 
    transition: 0.5s;
    opacity: 1;
    
}

.tarjeta img{
    height: 400px;
    width: 300px;
}

.tarjeta h1{
    text-decoration: underline;
    
}

.footer{
    display: flex;
    flex-direction: row ;
    justify-content:space-around;
    gap: 10px;
    margin-right: 200PX;
}

.footer div img{
    height: 90px;
    width: 90px;
    margin: 0px 0px;
}

.footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .f_lista{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.f_lista a:hover{
    text-decoration: overline;
}

h1 h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.tarjeta3 a{
    background-color: black;
    border: solid 1px;
    border-radius: 30px;
    align-self: center;
    text-align: center;
    padding: 5px;
}

.tarjeta3 h2{
    text-align: center;
}


