    *{

    font-family: MuseoModerno, Arial, Helvetica, sans-serif;  
    font: bold;
    color:  white;
    }

    body{
        background-color: rgb(18, 18, 46);
        padding: 1%; 
    }

    .header{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 20px;
    }

    .header .menu-nav:first-child{
        margin-left: 30px;
    }
    .header .menu-inicio{
        margin-right: 30px;    
    }

    .header .menu-nav a :hover{
        text-decoration: overline;
    }
    .header nav{
        display: flex;
        gap: 10px;
    }

    .header .menu-nav .menu-desp{
        display: none;
    }

    a{
        display: flex;
        align-items: center;
        color: white;
        text-align: right;
        text-decoration: none;
    }

    nav a:hover{
        color: white;
        text-transform:uppercase;
    }

    img{
        display: flex;
        justify-content: center;
        width: 50px;
        border-radius: 50px;
    }

    .hero{
        display: grid;
        grid-template-rows: 200px 200px 200px 200px;
        height: 50vh;
        background: url(./images/imagen_casa_inteligente_hero.webp);
        background-size:cover;
        background-repeat:round;
        border-radius: 30px 30px 30px 30px;
    }

    .hero-title{
        padding-top: 20px;
        padding-left: 500px;
        font-size: 40px;
        font-weight: bolder;
    }

    .hero-title2{
        padding-top: 15px;
        padding-left: 550px;
        font-size: 35px;
        font-weight: bolder;
    }

    .hero-subtitle{
        padding-top: 200px;
        padding-left: 550px;
        font-size: 35px;
        color: black;
    }

    .hero h1{
        margin: 0px;
    }
    .contacto{
        border-radius: 20px;
        width: 400px;
        height: 30px;
        color: black;
    }

    .f_contacto button{
        border-radius: 20px;
        width: 150px;
        height: 35px;
        padding: 5px, 10px;
        color: blue;
    }

    .secciontarjetas{
        display: flex;
        flex-direction: column;
        margin: 50px;
        padding-bottom: 100px;
        padding-top: 50px;
        border-bottom: solid 1px;
        border-top: solid 1px;
        text-align: justify;
    }

    .secciontarjetas h1, p{
        text-align: center;
    }

    .grupo-tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 40px;
    }

    .grupo-tarjetas p{
        text-align: justify;
        margin: 10px 10px;
    }

    .tarjeta{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 300px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .tarjeta2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 300px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        border: 10px 10px;
    }

    .tarjeta3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        border-radius: 50px;
        border: solid;
        transform: translateY(-380px);
        opacity: 0;
        transition: 0.5s;
        text-align: justify;
        border: 10px 10px;
    }

    .tarjeta:hover .tarjeta2{
        height: 400px;
        width: 300px;
        transition: 0.5s;
        opacity: 0;
        
    }
    .tarjeta:hover .tarjeta3{
        height: 500px;
        width: 300px;
        transition: 1s;
        opacity: 1;
    }

    .tarjeta .tarjeta3 img{
        align-self: center;
        width: 100px;    
        height: 100px; 
    }

    .tarjeta img{
        height: 400px;
        width: 300px;
    }

    .tarjeta h1{
        text-decoration: underline;
        
    }

    .seccionVideo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        border-top: solid 1px;
        padding-top: 50px;
    }

    .seccionVideo video{
        padding-top: 20px;
        border-radius: 30px;
    }

    .textos_footer h1{
        text-align: center;
        padding: 25px 50px;

    }

    .textos_footer p{
        text-align: center;
        padding: 50px 50px;
    }

    .footer{
        display: flex;
        flex-direction: row ;
        justify-content:space-around;
        gap: 10px;
    }

    .footer div img{
        height: 90px;
        width: 90px;
        margin: 0px 0px;
    }

    .footer div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .f_lista{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .f_lista a:hover{
        text-decoration: overline;
    }

    h1 h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

    }

    .tarjeta3 a{
        background-color: black;
        border: solid 1px;
        border-radius: 30px;
        align-self: center;
        text-align: center;
        padding: 5px;
    }

    .tarjeta3 h2{
        text-align: center;
    }

    .formulario-login{
        position: absolute;
        top:200px;
        left:550px; 
    }

    .formulario-login form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 400px;
        border: solid 2px;
        border-radius: 20px;
        margin: 50px 50px;
        padding: 50px 50px;
        background-color: rgb(145, 143, 143);
    }

    .inputs-login{
        color: black;
    }

    @media (min-width: 1400px) {
        .hero{
            height: 50vh;
        }
        .hero-title{
            padding-top: 20px;
            padding-left: 500px;
        }
        .hero-title2{
            padding-top: 15px;
            padding-left: 590px;
        }
        .hero-subtitle{
            padding-top: 70px;
            padding-left: 400px;
            font-size: 25px;
            color: black;
        }
        .contacto{
            border-radius: 20px;
            margin-left: 120px;
            width: 300px;
            height: 30px;
            text-align: center;
        }
        .f_contacto button{
            border-radius: 20px;
            margin-left: 50px;
            width: 100px;
        }
    }


    @media (min-width: 1200px) {
    .hero{
        height: 50vh;
    }
    .hero-title{
        padding-top: 20px;
        padding-left: 500px;
    }
    .hero-title2{
        padding-top: 15px;
        padding-left: 590px;
    }
    .hero-subtitle{
        padding-top: 70px;
        padding-left: 400px;
        font-size: 25px;
        color: black;
    }
    .contacto{
        border-radius: 20px;
        margin-left: 120px;
        width: 300px;
        height: 30px;
        text-align: center;
    }
    .f_contacto button{
        border-radius: 20px;
        margin-left: 50px;
        width: 100px;
    }
    }

    @media (max-width: 992px) {
    .hero{
        height: 35vh;

    }
    .hero-title{
        padding-top: 20px;
        padding-left: 380px;
        font-size: 35px;
    }
    .hero-title2{
        padding-top: 15px;
        padding-left: 549px;
        font-size: 30px;
        font-weight: bolder;
    }
    .hero-subtitle{
        padding-top: 70px;
        padding-left: 260px;
        font-size: 25px;
        color: black;
    }
    .contacto{
        border-radius: 20px;
        margin-left: 120px;
        width: 300px;
        height: 30px;
        text-align: center;
    }
    .f_contacto button{
        border-radius: 20px;
        margin-left: 50px;
        width: 100px;
    }

    .formulario-login{
        position: absolute;
        top:100px;
        left:350px;
        
    }

    }

    @media (max-width: 768px) {
    .hero{
        height: 35vh;

    }
    .hero-title{
        padding-top: 20px;
        padding-left: 300px;
        font-size: 25px;
    }
    .hero-title2{
        padding-top: 15px;
        padding-left: 350px;
        font-size: 24px;
        font-weight: bolder;
    }
    .hero-subtitle{
        padding-top: 70px;
        padding-left: 260px;
        font-size: 25px;
        color: black;
    }
    .contacto{
        border-radius: 20px;
        margin-left: 50px;
        width: 300px;
        height: 30px;
        text-align: center;
    }
    .f_contacto button{
        border-radius: 20px;
        margin-left: 160px;
        width: 100px;
    }
    .formulario-login{
        position: absolute;
        top:100px;
        left:250px;
    }

    .formulario-login form{
        width: 300px;
    }

    }

    @media (max-width: 576px) {
    .hero{
        height: 30vh;

    }
    .hero-title{
        padding-top: 20px;
        padding-left: 200px;
        font-size: 25px;
    }
    .hero-title2{
        padding-top: 15px;
        padding-left: 250px;
        font-size: 24px;
        font-weight: bolder;
    }
    .hero-subtitle{
        padding-top: 70px;
        padding-left: 150px;
        font-size: 25px;
        color: black;
    }
    .contacto{
        border-radius: 20px;
        margin-left: 50px;
        width: 300px;
        height: 30px;
        text-align: center;
    }
    .f_contacto button{
        border-radius: 20px;
        margin-left: 160px;
        width: 100px;
        height: 35px;
        padding: 5px, 10px;
        color: blue;
    }

    .formulario-login{
        top:80px;
        left:160px;
    }

    .formulario-login form{
        width:230px;
        height: 100px;
    }
    }

    @media (max-width:576px) {
    .menu-nav a, p{
        display: none;
    }
    .menu-nav .menu-desp{
        display: flex;
    }
    }
